.wrapper {
  grid-area: messages;
  display: flex;
  flex-direction: column;
  background-color: #202124;

  position: fixed;
  top: 64px;
  right: 0;
  height: calc(100vh - 75px);
  width: 200px;
 
  box-shadow: inset 0px 5px 10px -6px black,  -5px 5px 10px -3px black;;
}

.message {
  padding-top: 10px;
}
.message img{
  display: inline;
  max-width: 20px;
  max-height: 20px;
  padding-right: 20px;
}

.user {
  display: inline;
}

.text {
  padding: 5px 10px;
}
