.wrapper {
  grid-area: messages;
  display: flex;
  flex-direction: column;
  background-color: rgb(23, 41, 119);
  color: wheat;
}

.message {
  padding-top: 10px;
}
.message img{
  display: inline;
  max-width: 20px;
  max-height: 20px;
  padding-right: 20px;
}

.user {
  display: inline;
}

.text {
  padding: 5px 10px;
}
