.wrapper {
  grid-area: header;
  background-color: #202124;
  
  position: sticky;
  top: 0;
  left: 0%;
  width: 100%;
  height: 64px;

  box-shadow: 0 0 10px black;
}

.wrapperContent {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 6px 15px;
}

.iconWrapper {
  padding-top: 8px;
  padding-right: 20px;
}

.activeLink {
  text-decoration: none;
  color: #e8eaed;
}




