.wrapper {
  margin-left: 5px;
  max-height: 60px;
  display: flex;
}

.wrapper img {
  border-radius: 15px;
  width: auto;
  height: 50px;
}

.textWrapper {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.activeLink {
  text-decoration: none;
  color: rgb(43, 3, 3) ;
}

a {
  text-decoration: none;
  color: black;
}
