.wrapper {
  grid-area: news;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #202124;

  position: fixed;
  top: 64px;
  left: 0;
  height: calc(100vh - 75px);
  width: 200px;

  box-shadow: inset 0px 5px 10px -6px black, 5px 5px 10px -3px black;
}
